* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  
}

header{
  text-align: center;
  text-transform: uppercase;
  padding:1.5rem;
  background-image: url("https://i.imgur.com/VZM3IR8.jpeg");
  color: rgb(197, 197, 197);
}
